/* Your Website Styles */
body{
	background: #2e2e2e;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #2e2e2e;
}

h1 {
	font-weight: lighter;
	font-size: 2.5em;
	margin: 0;
	color: lightgrey;
	background: #2e2e2e;
	width: 405px;
	padding: 0 0 10px 20px;
	border-radius:0  0 20px 0;
}

h2{
	padding: 10px;
	background: #2e2e2e;
	border-radius: 0 30px 30px 0;
	width: 800px;
	font-weight: lighter;
}

h3 {
	margin: 10px 0 0 10px;
}

h4{
	color: #2e2e2e;
	margin: 5px 0 0px 20px;
	font-size: 1.2em;
}

h5 {
	margin: 0 0 0 15px;
	color: #2e2e2e;
	font-weight: lighter;
}
 

 /* Header */
.head {
	background: lightgrey;
	height: 200px;
	margin: 20px 0 20px 0;
	border-radius: 10px;
}
.head li{
	list-style-type: none;
	color: #2e2e2e;
	margin: 0;
	text-align: left;
	font-size: 0.8em;
	font-weight: lighter;
}

.head ul{
	margin: 0 0 0 20px;
	text-align: left;
	padding: 5px 0;
}

.head img{
	float: right;
	height: 200px;
	width: 200px;
	border-radius: 0 10px 10px 0;
}


/* About */
.about{
	background: rgb(193, 82, 97);
	border-radius: 10px;
}

.about h2{
	color: rgb(193, 82, 97);
}

.about p{
	padding: 20px;
}


/* Work */
.work {
	padding: 0 0 30px 0;
	background: rgb(154, 175, 105);
	border-radius: 10px;
}

.work h2{
	color: rgb(154, 175, 105);
}

.photo{
	padding: 0 0 10px 0;
}

.portfolio {
	background: #2e2e2e;
	padding: 20px 0 10px 0;
}

.event h3, .art h3{
	margin: 30px 0;
	background: #2e2e2e;
	color: rgb(154, 175, 105);
	width: 175px;
	padding: 5px 20px;
	border-radius: 0 20px 20px 0;
	font-weight: lighter;
}

.portrait h3, .night h3{
	float: right;
	text-align: right;
	margin: 30px 0;
	background: #2e2e2e;
	color: rgb(154, 175, 105);
	width: 175px;
	padding: 5px 20px;
	border-radius: 20px 0 0 20px;
	font-weight: lighter;
}

.event{
	height: 327px;
	background-image: url("../img/event.jpg");
	border-radius: 0 20px 0 20px;
}

.portrait{
	height: 327px;
	background-image: url("../img/port.jpg");
	border-radius: 20px 0 20px 0;
}

.art {
	height: 327px;
	background-image: url("../img/art.jpg");
	border-radius: 20px 0 20px 0;
}

.night{
	height: 327px;
	background-image: url("../img/night.jpg");
	border-radius: 0 20px 0 20px;
}

.food, .sfcc, .wsu, .code, .like, .software{
	box-shadow: inset 1px 0 0 #2e2e2e;
}


/* Education */
.edu {
	background: rgb(36, 150, 207);
	border-radius: 10px;
	padding: 0 0 10px 0;
}

.edu h2{
	color: rgb(36, 150, 207);
}

.misc {
	background: rgb(200, 200, 200);
	border-radius: 10px;
	padding: 0 0 10px 0;
}

.misc h2{
	color: lightgrey;
}

li {
	list-style: none;
	font-size: .9em;
	margin: 0 0 4px 15px;
}

ul{
	padding: 0 0 5px 5px;
	margin: 5px 0 0 0;
}

a, a:visited, a:link {
	color: #2e2e2e;
	text-decoration: none;
}

a:hover{
	font-weight: bold;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}